# Python
__pycache__/
*.pyc
*.pyo
.venv/
.env
.ipynb_checkpoints/

# OS/editor
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Common simulation outputs (edit to taste)
out/
outputs/
results/
tmp/

# Mesh / viz data that can get big (edit if you DO want to track these)
*.xdmf
*.h5
*.vtu
*.vtk
*.msh
benchmark_results/
